header .container {
    display: flex;
    justify-content: end;
    padding: 5px 0px;
    background-color: azure;
}

nav span {
    padding: 5px;
    text-decoration: none;
}

h1 {
    
    color: blue;
    text-align: center;
}

.container {
    border: solid 1px black;
}

.pp_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pp_indiv {
    border: solid 1px black;
    margin: 10px;
}