* {
    color: white;
    text-align: center;
}
body {
    background-image: url("../assets/site_background.jpg");
    background-size: cover;
}

/* Header and Navigation Section */

header .container {
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    background-color: hsla(0, 0%, 0%, .25)
}

nav span {
    padding: 5px;
    text-decoration: none;
    color: white;
}






/* Main Name and Title Section */

.nameTitle {
    background-color: hsla(0, 0%, 0%, .25)
}




/* About Section */

h2 {
    text-align: center;
}

.container {
    border: solid 1px black;
}

.about_container {
    padding: 10px;
    background-size: 4px 4px;
    /*Source for background textures: https://codepen.io/bitmap/pen/AzowBq*/
    background-color: hsla(0, 0%, 0%, .25)
}





/* Projects Section */

.pp_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: hsla(0, 0%, 0%, .25);

}

.pp_indiv {
    border: solid 1px black;
    margin: 10px;
    background-color: hsla(0, 0%, 0%, .5);
    min-width: 10rem;
}